@import "tailwindcss";

:root {
  --background: #2a2930;
  --foreground: #d3dad9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light-background: #44444e;
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-roboto);
}

html {
  font-family: var(--font-roboto), sans-serif;
  background-color: var(--color-background);
}

body {
  color: var(--color-foreground);
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat), sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateY(32px);
    opacity: 0;
  }
}

.animate-scroll {
  animation: scroll 2s ease-in-out infinite;
}
