html {
  scroll-behavior: smooth;
}

// Text
.justify {
  text-align: justify;
  text-justify: inter-word;
}

/* Nav */
nav {
  background: none;
  position: fixed;
  border: none;
  box-shadow: none;
  transition: all 0.3s;

  .translate-icon {
    font-size: 1.4rem;
  }

  .nav-item {
    &:hover {
      font-weight: 500;
      background: none;
    }
    // &:after {
    //   content: " ";
    //   display: block;
    //   width: 0;
    //   height: 1px;
    //   background: white;
    //   transition: width 0.3s;
    // }

    // &:hover:after {
    //   width: 100%;
    //   transition: width 0.3s;
    // }
  }

  .nav-wrapper {
    margin-top: 20px;
    transition: inherit;
  }

  &.nav-active {
    margin-top: 0px;
    background: white;
    transition: all 0.3s;
    box-shadow: 0px 10px 14px -13px rgba(0, 0, 0, 0.75);
    .nav-wrapper {
      margin-top: 0;
      transition: inherit;
    }
    a,
    i {
      color: black;
    }
  }
}

/* Hero */
#hero {
  height: 100vh;
  width: 100%;
  background-image: url("media/hero_bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
}

.hero-content {
  color: white;
  margin-top: 50vh;

  .hero-title {
    font-weight: 600;
  }

  .hero-text {
    font-size: 1.4rem;
    max-width: 60%;
  }
}

// Projects
.project {
  display: flex;
  max-height: 20%;
  margin: 0 4rem;

  .project-thumb {
    padding: 0;
    margin: auto;
    width: 80%;

    img {
      min-width: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
  }

  .project-content {
    align-self: center;

    p {
      padding: 0 12px;
    }
  }
}

// Mobile
@media only screen and (max-width: 600px) {
  // Projects
  .project {
    margin: 0;    
    flex-direction: column;

    .project-thumb {
      text-align: center;
      img {
        min-width: 60%;
      }
    }
  }
}
