html {
  scroll-behavior: smooth;
}

/* Nav */
nav {
  background: none;
  position: fixed;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: 20px;
}

nav .translate-icon {
  font-size: 1.4rem;
}

nav .nav-item:hover {
  font-weight: 500;
}

nav.nav-active {
  background: white;
}

nav.nav-active a,
nav.nav-active i {
  color: black;
}

/* Hero */
#hero {
  height: 100vh;
  width: 100%;
  background-image: url("media/hero_bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-content {
  color: white;
  margin-top: 50vh;
}

.hero-content .hero-title {
  font-weight: 600;
}

.hero-content .hero-text {
  font-size: 1.4rem;
  max-width: 60%;
}
