html {
  scroll-behavior: smooth;
}

// Text
.justify {
  text-align: justify;
  text-justify: inter-word;
}

/* Nav */
nav {
  background: none;
  position: fixed;
  border: none;
  box-shadow: none;
  transition: all 0.4s;
  z-index: 10;

  .translate-icon {
    font-size: 1.4rem;
  }

  .nav-item {
    &:hover {
      font-weight: 500;
      background: none;
    }
    // &:after {
    //   content: " ";
    //   display: block;
    //   width: 0;
    //   height: 1px;
    //   background: white;
    //   transition: width 0.3s;
    // }

    // &:hover:after {
    //   width: 100%;
    //   transition: width 0.3s;
    // }
  }

  .nav-wrapper {
    margin-top: 20px;
    transition: inherit;
  }

  &.nav-active {
    margin-top: 0px;
    background: white;
    transition: all 0.4s;
    box-shadow: 0px 10px 14px -13px rgba(0, 0, 0, 0.75);
    .nav-wrapper {
      margin-top: 0;
      transition: inherit;
    }
    a,
    i {
      color: black;
    }
  }
}

/* Hero */
#hero {
  height: 100vh;
  width: 100%;
  background-image: url("media/hero_bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
}

.hero-content {
  color: white;
  margin-top: 50vh;

  .hero-title {
    font-weight: 600;
  }

  .hero-text {
    font-size: 1.4rem;
    max-width: 60%;
  }
}

// Projects
.project-title {
  text-align: center;
  margin-top: 4rem;
}
.project {
  display: flex;
  max-height: 20%;
  margin: 0 4rem;

  .project-thumb {
    padding: 0;
    margin: auto;
    width: 80%;

    img {
      min-width: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
  }

  .project-content {
    align-self: center;
    display: flex;
    flex-direction: column;
    p {
      padding: 0 12px;
    }

    .actions {
      align-self: center;

      button {
        margin: 0 8px;

        i {
          margin-right: 4px;
        }
      }
    }
  }
}

// About
#about {
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('media/about_bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 4vh;
  margin: 8vh 0;

  h2, p {
    color: white;
  }

  p {
    font-size: 1.2rem;
  }
}

// Contact
#contact form {
  width: 80%;
  margin: auto;
  padding: 4rem;
  border-radius: 15px;
  background: linear-gradient(145deg, #f0f0f0, #ffffff);
  box-shadow: 23px 23px 46px #f0f0f0, -23px -23px 46px #ffffff;
}

// Mobile
@media only screen and (max-width: 600px) {
  // Projects
  .project {
    margin: 0;
    flex-direction: column;

    .project-thumb {
      text-align: center;
      img {
        min-width: 60%;
      }
    }

    // Reset project content to it's original order on phones
    .project-content {
      order: 1 !important;
    }
  }

  // Contact
  #contact form {
    width: 100%;
    padding: 2rem ;
    background: none;
    box-shadow: none;
  }
}
