@media only screen and (max-width: 600px) {
  // Projects to a column
  .project {
    margin: 0 !important;
    flex-direction: column;

    .project-thumb {
      text-align: center;
      img {
        min-width: 60%;
      }
    }

    // Reset project content to it's original order on phones
    .project-content {
      order: 1 !important;
    }    
  }

  // Hide card project carousel
  #smallprojects {
    display: none;
  }

  // Contact to full with, no background
  #contact form {
    width: 100%;
    padding: 2rem;
    background: none;
    box-shadow: none;
  }
}