// Projects section
#projects {
  #projects-header {
    margin-bottom: 4rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
  }

  .project-section-header {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
  }
}

// React and Django Projects
.project-container {
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.5s;
  margin: 3rem 0;

  &.onscreen {
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.5s;
  }

  .project-title {
    text-align: center;
    font-size: 1.5rem;
  }
  .project {
    display: flex;
    max-height: 20%;
    margin: 0 4rem;

    .project-thumb {
      padding: 0;
      margin: auto;
      width: 100%;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
      }
    }

    .project-content {
      align-self: center;
      display: flex;
      flex-direction: column;
      p {
        padding: 0 12px;
      }

      .actions {
        align-self: center;

        button {
          margin: 0 8px;

          i {
            margin-right: 4px;
          }
        }
      }
    }
  }
}

// Card Project Carousel
#smallprojects {
  .carousel {
    height: 50vh; 
    width: 100%;
    transform: translateY(-20%);

    .carousel-item {
      width: auto;
    }

    .indicators {
      .indicator-item {
        background: rgba(0, 0, 0, 0.3);

        &.active {
          background: black;
        }
      }
    }
  }
}

// Card projects
.card {
  max-width: 400px;
}
