@import 'load';
@import 'navbar';
@import 'hero';
@import "buttons";
@import 'projects';
@import 'about';
@import 'contact';
@import 'footer';
@import 'mobile';

html {
  scroll-behavior: smooth;
  // overflow: hidden;
}

// Text
.justify {
  text-align: justify;
  text-justify: inter-word;
}