#load {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#load svg {
  margin: 0 20px;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #575757;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #575757;
  }
}

nav {
  background: none;
  position: fixed;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 10;
}

nav .translate-icon {
  font-size: 1.4rem;
}

nav .nav-item:hover {
  font-weight: 500;
  background: none;
}

nav .nav-wrapper {
  margin-top: 20px;
  -webkit-transition: inherit;
  transition: inherit;
}

nav.nav-active {
  margin-top: 0px;
  background: white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: 0px 10px 14px -13px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 10px 14px -13px rgba(0, 0, 0, 0.75);
}

nav.nav-active .nav-wrapper {
  margin-top: 0;
  -webkit-transition: inherit;
  transition: inherit;
}

nav.nav-active a,
nav.nav-active i {
  color: black;
}

#hero {
  height: 100vh;
  width: 100%;
  background-image: url("../media/hero_bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-content {
  color: white;
  margin-top: 50vh;
}

.hero-content .hero-title {
  font-weight: 600;
}

.hero-content .hero-text {
  font-size: 1.4rem;
  max-width: 60%;
}

.project-container {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.project-container.onscreen {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.project-container .project-title {
  text-align: center;
  margin: 4rem 0 2rem 0;
}

.project-container .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 20%;
  margin: 0 4rem;
}

.project-container .project .project-thumb {
  padding: 0;
  margin: auto;
  width: 100%;
}

.project-container .project .project-thumb img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.project-container .project .project-content {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-container .project .project-content p {
  padding: 0 12px;
}

.project-container .project .project-content .actions {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.project-container .project .project-content .actions button {
  margin: 0 8px;
}

.project-container .project .project-content .actions button i {
  margin-right: 4px;
}

#about {
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../media/about_bg.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../media/about_bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 4vh;
  margin: 8vh 0;
}

#about h2,
#about p {
  color: white;
}

#about p {
  font-size: 1.2rem;
}

#contact form {
  width: 80%;
  margin: auto;
  padding: 4rem;
  border-radius: 15px;
  background: linear-gradient(145deg, #f0f0f0, #ffffff);
  -webkit-box-shadow: 23px 23px 46px #f0f0f0, -23px -23px 46px #ffffff;
          box-shadow: 23px 23px 46px #f0f0f0, -23px -23px 46px #ffffff;
}

@media only screen and (max-width: 600px) {
  .project {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project .project-thumb {
    text-align: center;
  }
  .project .project-thumb img {
    min-width: 60%;
  }
  .project .project-content {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
  }
  #contact form {
    width: 100%;
    padding: 2rem;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}
